.login{
    height: 100vh;
    background-color: #5F9EA0;
    display: flex;
    align-items: center;
    justify-content: center;
    .card{
        width: 50%;
        min-height: 600px;
        display: flex;
        background: url("https://images.unsplash.com/photo-1599165417453-62bdda15f6b0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80") no-repeat bottom center;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: inset 500px 0 200px 0 #FFF;
        border-radius: 15px;
        overflow: hidden;
        .left{
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 50px;
            color: black;
            justify-content: center;
            h1{
                font-size: 40px;
                color: #333333;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;
                input{
                    border: none;
                    border-bottom: 1px black solid;
                    padding: 20px 10px;
                    font-size: 16px;
                }
                button{
                    width: 50%;
                    padding: 10px;
                    border: none;
                    background-color: #5F9EA0;
                    color: white;
                    font-weight: bold;
                    font-size: 17px;
                    cursor: pointer;
                    border-radius: 3px;
                }
            }
        }
        .right{
            flex: 1;
            padding: 50px;
            display: flex;
            flex-direction: column;
            text-align: right;
            color: white;
            h1{
                font-size: 50px;
            }
            p{
                padding-top: 250px;
            }
            div{
                text-align: right;
                button{
                width:150px;
                padding: 10px;
                border: none;
                cursor: pointer;
                border-radius: 3px;
                }
            }
            
        }
    }
}